* {
    font-family: Poppins;
    color: white;
    font-size: 30px;
    padding: 0;
    margin: 0;
}

html, body {
    background-color: #1e1e1e;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #181C25; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: #3e3e3e; 
    border-radius: 40px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #3e3e3e; 
    border-radius: 40px;
  }

#typing {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 0;
    padding-left: 2.5%;
}

#sentence {
    font-size: 100px;
}

.input-cursor {
    display: inline-block;
    width: 3px;
    height: 100px;
    background-color: white;
    margin-left: 8px;
    animation: blink .6s linear infinite alternate;
}

@keyframes blink {
    0% {opacity: 1;}
    40% {opacity: 1;}
    60% {opacity: 0;}
    100% {opacity: 0;}
  }

#topRow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    display: flex;
    gap: 2%;
    align-items: center;
    justify-content: flex-end;
}

.headerBtn {
    margin-right: 2.5%;
    cursor: pointer;
}

a:link {
    text-decoration: none;
}

#item1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40%;
    width: 10%;
    background-color: white;
    color: #181C25;
    border-radius: 30px;
}

#keeb {
    height: auto;
    width: 50%;
    fill: #fff;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

@keyframes rainbow {
    0% {fill: white;}
    14.25% {fill: #FE3E00;}
    28.5% {fill: #FE8700;}
    42.75% {fill: #FEDF00;}
    57% {fill: #00FE73;}
    71.25% {fill: #0051FE;}
    85.5% {fill: #B900FE;}
    100% {fill: white;}
}

#inKeeb {
    animation: rainbow 25s infinite;
}